

html {
  height: 100%;
  width: 100%;
}

.menu-container {
  display:flex;
  background-color: #f1f1f1;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  border-bottom: 1px solid #ccc;
}

.menu-container > div {
  
  text-align: center;

}


.logo {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  flex-shrink: 0;
  }

.logo img {
  height: auto;
  width: auto;
  }

.right-section {
  display: flex;
  align-items: center;
  gap: 20px; /* Spacing between elements */
}

.signup {
  margin-left: 20px; /* Add space between nav-links and sign-up */
}



.signup button {
  padding: 5px 10px;
  font-size: 1.0em;
  background-color: #2E2E4E;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  text-decoration: none;

}

.signup button:hover {
  background-color: #0056b3;
  text-decoration: none;

}

a .fa-regular {
  color: #131C26; /* Inherit color from surrounding content or set a specific color */
  text-decoration: none; /* Prevents any text underline effect */
}

a:hover .fa-regular {
  color: #131C26; /* Ensure no hover color change unless desired */
}


.header-section {
  display: flex;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;

}


/*Callout Bar */
.callout {
  background-color: #5C2E5C;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.callout a {
  color: #0056b3;
  text-decoration: underline;
  font-weight: bold;
}

.callout a:hover {
  color: #003d80;
  text-decoration: none;
}



/* Navigation */
nav ul {
  list-style-type:none;
  padding-left: 0;
}

nav ul li{
  display: inline;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold; font-family: arial;
  color:#131C26;

}

nav ul li a:hover {
  background-color:#2E2E4E;
color:white;
}

#fullmenu {
  display: none;
}


